In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
from pandas_datareader import data as wb

In [14]:
tickers= ['PG', 'MSFT','T','F','GE']
new_data = pd.DataFrame()
for t in tickers:
    new_data[t] = wb.DataReader(t,data_source='yahoo', start='2020-1-1')['Close']

In [12]:
new_data.tail()

                    PG        MSFT          T          F          GE
Date
2022-01-14  159.809998  310.200012  27.180000  25.190001  103.160004
2022-01-18  156.729996  302.649994  27.309999  24.379999  102.889999
2022-01-19  162.000000  303.329987  27.280001  22.450001  100.620003
2022-01-20  162.000000  301.600006  27.020000  21.650000   98.250000
2022-01-21  162.619995  296.029999  26.610001  20.650000   96.300003