In [8]:
import numpy as np

In [9]:
import pandas as pd

In [10]:
from pandas_datareader import data as wb

In [ ]:
 #letras dos ticker no yahoo financial
     #dataframe é um módulo do pd
        #para os "t" em tickers trazer:
        #wb.datareader (tickers, local da busca, ano que irá inciiar e [coluna escolhida]

In [21]:
tickers =['PG', 'MSFT', 'T', 'F', 'GE', 'ITUB4.SA']
new_data = pd.DataFrame()
for t in tickers:  
    new_data [t] = wb.DataReader(t, data_source='yahoo', start='1995-1-1')['Adj Close']

In [22]:
new_data.tail()

,PG,MSFT,T,F,GE,ITUB4.SA
Date,,,,,,
2022-01-14,158.951752,310.200012,27.180000,25.190001,103.160004,23.500000
2022-01-18,155.888290,302.649994,27.309999,24.379999,102.889999,23.639999
2022-01-19,161.130005,303.329987,27.280001,22.450001,100.620003,23.480000
2022-01-20,162.000000,301.600006,27.020000,21.650000,98.250000,23.290001
2022-01-21,162.619995,296.029999,26.610001,20.650000,96.300003,23.299999